
.main_div{
  border: 1px solid black;
   height: 65%;
  width: 75%;
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-rows: auto auto auto;
  flex-direction: column;
  justify-content: start; 
  margin: auto;
}
img{
  height: 150px;
  width: 200px;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
